* {
  padding: 0;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #f3f3f3;
  color: #666;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;

}

.Logo:hover {
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

p.textnom {
  display: inline-block;
}

.no-check button{
  border: double;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
}
.check p {
  color: #666;
  text-decoration: line-through;
}

.list {
  border-radius: 20%;
  box-shadow: 10px 5px 5px gray;
  display: initial;
  word-wrap: break-word;
  width: 90%;
  margin-top: 1rem;
}

h1 {
  display: none;
}

#Ajouter {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: large;
  font-weight: bold;
}

.couleur {
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  float: right;
  height: 2.5rem;
  width: 100px;

}

.color {
  width: 2rem;
  height: 2rem;
}

#Couleur1 {
  background-color: #a7001e;
  border-radius: 30%;
}

#Couleur2 {
  border-radius: 30%;
  background-color: #b693fc;
}



#Couleur3 {
  border-radius: 30%;
  background-image: url("img/bois4.png");
}


#Couleur4 {
  border-radius: 30%;
  background-color: #a4bd0a;
}

.titre {
  display: flex;
  justify-content: center;
  padding: 16px;
  border: double;

}

.Ajouter {
  display: none;
}

main {
  text-align: center;
  justify-content: content;
}

.alllist {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

h2 {
  margin: 0%;
}

button {
  width: auto;
  height: auto;
  font-size: 1rem;
}

button.add {
  border-radius: 50%;
  color: black;
  border: none;
  margin-right: 5px;
  background-image: url("../img/ajouter.png");
  background-size: cover;
  width: 2rem;
  height: 2rem;
}


button.sup {
  color: red;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  background-image: url("../img/croix.png");
  background-size: cover;
}

@media screen and (orientation: landscape) {
  body {
    display: initial;
    align-items: center;
    justify-content: center;
  }

  main {
    display: flex;
    text-align: center;
    justify-content: content;
  }
  .no-check button{
    width: 1rem;
    height: 1rem;
  }
  button.add{
    width: 1rem;
    height: 1rem;
  }
  button.sup {
    width: 1rem;
    height: 1rem;
  }

  .color {
    width: 1rem;
    height: 1rem;
  }

  .alllist {
    width: 100%;
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    justify-items: center;
  }

  .list {
    width: 90%;
    margin: 5px;
  }

  nav {
    background-color: #f3f3f3;
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: initial;
  }

  .Logo:hover {
    transform: rotate(359deg);
  }

  #Ajouter {
    display: none;
  }

  h1 {
    display: block;
    font-weight: bold;
    padding-left: 1rem;
    font-size: 3rem;
    color: black;
  }

  .titre {
    display: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }

  .Ajouter {
    height: 5rem;
    width: 5rem;
    border-color: rgb(130, 3, 3);
    border-radius: 50%;
    font-size: large;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: block;
  }
